<!doctype html>
<html lang="pt-br">

<head>
  <title>G-Cycle</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light cor-verde ">
    <div class="container-fluid ">
      <a class="navbar-brand text-white d-flex align-items-center" href="#">
        <img src="/img/logo.png" alt="" width="80" height="80" class="d-inline-block me-3 align-text-top">
        G-Cycle
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link text-white" href="ganhe">Ganhe pontos</a>
          <a class="nav-link text-white" href="troque">Troque pontos</a>
          <a class="nav-link text-white" href="lojas">Lojas</a>
          <a class="nav-link text-white" href="duvidas">Dúvidas</a>
          <a class="nav-link text-white"  data-bs-toggle="modal" data-bs-target="#modal-cadastrar" href="#">Cadastre-se</a>
          <a class="nav-link text-white"  data-bs-toggle="modal" data-bs-target="#modal-login" href="#">Login</a>
          <a class="nav-link text-white" href="#"></a>
        </div>
      </div>
    </div>
  </nav>
  <section class="d-flex justify-content-around pt-5 flex-wrap">
    <div class="card mb-3 p-3 bg-primary text-white d-flex align-items-center" style="max-width: 540px;">
      <div class="">
        <div class="card-body">
          <h5 class="card-title">Recicle embalagens de marcas parceiras</h5>
          <p class="card-text">E ganhe até 20x mais pontos</p>
        </div>
      </div>
      <div class="row g-0">
        <div class="">
          <img
            src="https://uploads-ssl.webflow.com/5d9df76125b5e78cf08b6e8d/5f85f3b84420cb2efaf5a36f_embalagens-parceiras-2.png"
            class="img-fluid rounded-start" alt="...">
        </div>
      </div>
    </div>
    <div class="card mb-3 bg-success p-3 text-white d-flex justify-content-center" style="max-width: 540px;">
      <div class="row g-10">
        <div class="col-md-4">
          <img src="https://uploads-ssl.webflow.com/5d9df76125b5e78cf08b6e8d/5d9e2f0fb42b61013e8bee67_nova-loja.png"
            class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">+ 30 estações funcionando</h5>
            <p class="card-text">Encontre a estação mais próxima</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3 p-3 bg-primary text-white d-flex align-items-center" style="max-width: 540px;">
      <div class="">
        <div class="card-body">
          <h5 class="card-title">Troque pontos</h5>
          <p class="card-text">Novidades!</p>
          <p class="card-text"><small class="text-light">Lojas nos Shoppings VG, Pantanal e Estação!</small></p>
        </div>
      </div>
      <div class="row g-0">
        <div class="">
          <img src="https://uploads-ssl.webflow.com/5d9df76125b5e78cf08b6e8d/5f3feb0a8bbe629c75513b37_troque-pontos.png"
            class="img-fluid rounded-start" alt="...">
        </div>
      </div>
    </div>
  </section>

  <section class="d-flex justify-content-center pb-5 pt-5 flex-wrap ">
    <div class="card m-3" style="width: 18rem;">
      <img src="/img/fort.png" class="card-img-top"
        alt="...">
      <div class="card-body">
        <h5 class="card-title">Desconto de R$20 em compras no Fort</h5>
        <p class="card-text">Economize mostrando seu cupom no Fort!</p>
        <h5 class="card-text">20.000 pontos</h5>
        <a href="#" class="btn btn-primary">SAIBA MAIS</a>
      </div>
    </div>
    <div class="card m-3" style="max-width: 18rem;">
      <img src="/img/idomo500.jpg" class="card-img-top"
        alt="...">
      <div class="card-body">
        <h5 class="card-title">1 (um) Omo Lava Roupas para diluir 500ml</h5>
        <p class="card-text">Resgate esse item na Estação Gcycle! Verifique a disponibilidade.</p>
        <h5 class="card-text">23.100 pontos</h5>
        <a href="#" class="btn btn-primary">SAIBA MAIS</a>
      </div>
    </div>
    <div class="card m-3" style="max-width: 18rem;">
      <img src="/img/apae.png" class="card-img-top"
        alt="...">
      <div class="card-body">
        <h5 class="card-title">APAE-Associação de Pais e Amigos dos Excepcionais</h5>
        <p class="card-text">Doe seus pontos para a APAE-Associação de Pais e Amigos dos Excepcionais!</p>
        <h5 class="card-text">5.000 pontos</h5>
        <a href="#" class="btn btn-primary">SAIBA MAIS</a>
      </div>
    </div>
    <div class="card m-3" style="max-width: 18rem;">
      <img src="/img/clear.jpg" class="card-img-top"
        alt="...">
      <div class="card-body">
        <h5 class="card-title">50% Desconto no Item: 1 (um)Shampoo Clear 2x1 Limp Diaria 400ml na COOP</h5>
        <p class="card-text">Resgate esse item na rede SERV MAIS!</p>
        <h5 class="card-text">9.400 pontos</h5>
        <a href="#" class="btn btn-primary">SAIBA MAIS</a>
      </div>
    </div>
    <div class="card m-3" style="max-width: 18rem;">
      <img src="/img/hcmt.jpg" class="card-img-top"
        alt="...">
      <div class="card-body">
        <h5 class="card-title">Hospital do Cancer de Mato Grosso</h5>
        <p class="card-text">Doe seus pontos para o Hospital do Cancer MT!</p>
        <h5 class="card-text">5.000 Pontos</h5>
        <a href="#" class="btn btn-primary">SAIBA MAIS</a>
      </div>
    </div>
    <div class="card m-3" style="max-width: 18rem;">
      <img src="/img/musculo.jpg" class="card-img-top"
        alt="...">
      <div class="card-body">
        <h5 class="card-title">99% de desconto no Item: 1 (um) Limp Cozinha Mr Musculo Lim Aparelho 500ml na COOP</h5>
        <p class="card-text">Resgate esse item na rede SERVMAIS!</p>
        <h5 class="card-text">11.800 pontos</h5>
        <a href="#" class="btn btn-primary">SAIBA MAIS</a>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal-cadastrar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Cadastre-se</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Nome</label>
              <input type="email" class="form-control" name="userName" id="exampleFormControlInput1" placeholder="Insira seu nome completo">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">E-mail</label>
              <input type="email" class="form-control" name="cadEmail" id="exampleFormControlInput1" placeholder="email@email.com">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Confirmar e-mail</label>
              <input type="email" class="form-control" name="confCadEmail" id="exampleFormControlInput1" placeholder="Digite novamente o e-mail">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Senha</label>
              <input type="password" class="form-control" name="cadPass" id="exampleFormControlInput1" placeholder="Informe a sua senha">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sair</button>
            <button type="button" class="btn btn-primary">Salvar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modal-login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Login</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="POST">
            <div class="form-group">
              <label for="exampleInputEmail1">Email - email teste@teste.com</label>
              <input type="email" name="logEmail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">email@email.com</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Senha - senha 123456</label>
              <input type="password" name="logPass" class="form-control" id="exampleInputPassword1" placeholder="Senha">
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sair</button>
            <button type="submit" name="logarAcao" class="btn btn-primary">Entrar</button>
          </div>
        </form>
        </div>
      </div>
    </div>
    
  </section>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
  </script>
  <div class="cor-verde p-5">
    <footer class="">
      <div class="row">
        <div class="col-2">
          <h5 class="text-white">Como funciona</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Features</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Pricing</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">FAQs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">About</a></li>
          </ul>
        </div>

        <div class="col-2">
          <h5 class="text-white">Ganhe pontos</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Features</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Pricing</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">FAQs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">About</a></li>
          </ul>
        </div>

        <div class="col-2">
          <h5 class="text-white">Troque pontos</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Features</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Pricing</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">FAQs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">About</a></li>
          </ul>
        </div>

        <div class="col-2">
          <h5 class="text-white">lojas</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Features</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Pricing</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">FAQs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">About</a></li>
          </ul>
        </div>

        <div class="col-2">
          <h5 class="text-white">Dúvidas</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Features</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Pricing</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">FAQs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">About</a></li>
          </ul>
        </div>

        <div class="col-2">
          <h5 class="text-white">Cadastre-se</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Features</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Pricing</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">FAQs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">About</a></li>
          </ul>
        </div>
      </div>

      <div class="d-flex justify-content-between py-4 my-4 border-top">
        <p class="text-white">&copy; 2021 Company, Inc. All rights reserved.</p>
        <img src="/img/GitHubImg.png" width="30px" height="30px" alt="">
      </div>
    </footer>
  </div>
</body>

</html>